<div class="w-100 mt-5 position-relative">
    <form class="d-flex flex-column align-items-center gap-3" [formGroup]="form" (ngSubmit)="submit()">
        <div class="d-flex flex-row justify-content-center gap-5 col-12">
            <div class="col-lg-4 col-md-12 form-floating mb-3">
                <input type="name" class="form-control" id="nameInput" placeholder="name" formControlName="name"
                    (click)="showError()">
                <label for="floatingInput">{{'name' | translate }}</label>
                <div *ngIf="isSubmitted && form.controls['name'].invalid" class="text-danger fw-semibold">
                    <small *ngIf="form.controls['name'].errors?.['required']">{{ 'validator.name.required' | translate
                        }}</small>
                    <small *ngIf="form.controls['name'].errors?.['minlength']">{{ 'validator.name.minimum' | translate
                        }}</small>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 form-floating">
                <input type="email" class="form-control" id="emailInput" placeholder="name@example.com"
                    formControlName="email" (click)="showError()">
                <label for="floatingInput">{{'email-address' | translate }}</label>
                <div *ngIf="isSubmitted && form.controls['email'].invalid" class="text-danger fw-semibold">
                    <small *ngIf="form.controls['email'].errors?.['required']">{{ 'validator.email.required' | translate
                        }}</small>
                    <small *ngIf="form.controls['email'].errors?.['pattern']">{{ 'validator.email.invalid' | translate
                        }}</small>
                </div>
            </div>
        </div>

        <span class="text-center">{{'i-agree-to' | translate }}:</span>

        <div class="col-lg-8 col-md-12 card border-gray p-2">
            <div class="d-flex flex-column gap-1" formGroupName="consents">
                <div class="col" *ngFor="let consent of consents">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" [formControlName]="consent">
                        <label class="form-check-label">{{ 'consents.' + consent | translate }}</label>
                    </div>
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary text-capitalize mt-3">{{'consent.give' | translate }}</button>

    </form>
</div>