.text-xsm {
    font-size: xx-small;
}


.btn-theme {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    border-radius: 12px;
    font-size: 18px;
}

.btn-flag-img {
    width: 48px;
    height: 37px;
    object-fit: cover;  
    object-position: center;

    border-radius: 12px;
}

.body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 3% 0;
    overflow-x: auto;
}