<div class="d-flex justify-content-start px-3 pb-4">
    <ul class="nav nav-pills flex-column me-3">
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'/give'" routerLinkActive="active">{{'consent.give' | translate }}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'/collected'" routerLinkActive="active">{{'consent.collected' |
                translate
                }}</a>

        </li>
    </ul>

    <div class="tab-content w-100 position-relative">
        <router-outlet></router-outlet>

        <ngx-spinner size="large" [bdColor]="bdColor" color="#ffff" type="ball-clip-rotate-pulse" [fullScreen]="false"></ngx-spinner>
    </div>
</div>